	<fieldset class="col-sm-12 bordure">
		<legend class="legende">{{ 'PersonAssignment' | translate }}</legend>
		
		<div ng-include src="'partials/message-include.html'"></div>
   		
		<form class="well form-horizontal">
			<div class="form-group">
				<label for="personAssignment_personIdperson" class="col-sm-2 control-label">{{ 'personAssignment.personIdperson' | translate }}</label>
				<div class="col-sm-10">
                    <select id="personAssignment_personIdperson" ng-model="personAssignment.personIdperson" name="personIdperson" class="form-control" ng-disabled="mode != 'create'">
						<option value=""></option>
                        <option ng-repeat="person in items.persons" title="{{person.label}}" ng-selected="{{person.value == personAssignment.personIdperson}}" value="{{person.value}}">{{person.label}}</option>
                    </select>
				</div>
			</div>
			<div class="form-group">
				<label for="personAssignment_requirementIdrequirement" class="col-sm-2 control-label">{{ 'personAssignment.requirementIdrequirement' | translate }}</label>
				<div class="col-sm-10">
                    <select id="personAssignment_requirementIdrequirement" ng-model="personAssignment.requirementIdrequirement" name="requirementIdrequirement" class="form-control" ng-disabled="mode != 'create'">
						<option value=""></option>
                        <option ng-repeat="requirement in items.requirements" title="{{requirement.label}}" ng-selected="{{requirement.value == personAssignment.requirementIdrequirement}}" value="{{requirement.value}}">{{requirement.label}}</option>
                    </select>
				</div>
			</div>
			<div class="form-group">
				<label for="personAssignment_status" class="col-sm-2 control-label">{{ 'personAssignment.status' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="personAssignment_status" name="status" ng-model="personAssignment.status" class="form-control" maxLength="11" />
				</div>
			</div>

			<!-- ACTION BUTTONS -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-2">
					<a role="button" class="btn btn-danger btn-block" ng-click="delete(personAssignment.personIdperson, personAssignment.requirementIdrequirement)" ng-show="mode != 'create'">{{ 'delete' | translate }}</a>
				</div>
    			<div class="col-sm-offset-4 col-sm-2">
					<a role="button" class="btn btn-default btn-block" href="#/personAssignment">{{ 'cancel' | translate }}</a>
				</div>
    			<div class="col-sm-2">
					<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="save()">{{ 'save' | translate }}</button>
				</div>
			</div>
		</form>
			
    </fieldset>
