		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'PersonAssignment' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'personAssignment.personIdperson' | translate }}</th>
						<th>{{ 'personAssignment.requirementIdrequirement' | translate }}</th>
						<th>{{ 'personAssignment.status' | translate }}</th>
						<th><a class="btn btn-info" href='#/personAssignment/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="personAssignment in personAssignments">
						<td>{{personAssignment.personIdperson}}</td>
						<td>{{personAssignment.requirementIdrequirement}}</td>
						<td>{{personAssignment.status | number }}</td>
						<td><a class="btn btn-info" href="#/personAssignment/{{personAssignment.personIdperson}}/{{personAssignment.requirementIdrequirement}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
